fastapi
uvicorn[standard]
simpleobsws
opencv-python
pyautogui
psutil
python-multipart
pydantic
pydantic-settings
aiofiles
bcrypt
itsdangerous
email-validator
pynput
customtkinter
requests
pyinstaller
